The content below is only a placeholder and can be replaced.
<!-- <agm-map [latitude]="latitude" [longitude]="longitude" >
  <agm-marker [latitude]=locations.latitude [longitude]=location.longitude *ngFor="let location of locations"></agm-marker>
</agm-map> -->


<agm-map   style="height: 700px" [latitude]="43" [longitude]="25" >
    <agm-marker-cluster  [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
      <agm-marker  *ngFor="let location of locations"  [latitude]="location.latitude" [longitude]="location.longitude">
        
          <agm-info-window>{{location.name}}</agm-info-window>
    
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

  